/* regole comuni */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --navbar-header: #3161E0;
    --bottone-apri-discord: #23272A;
    --bottone-scarica-per-Mac: #8EA1E1;
    --colore-testo-sezioni-footer: #7087D7; 
    --colore-sfondo-section: #ffffff;
    --colore-backgound-footer: #23272A;
}

/* colori
navbar e header: #3161E0;
bottone apri discord: #23272A;
bottone scarica per Mac: #8EA1E1;
colore testo sezioni footer: #7087D7;
colori section: #ffffff; */


/* Utilities */

.logo{
    width: 100px;
    height: 100px;
    background-image:url(../img/Discord-logo.png)
}


/* container */
.container{
    width: 1200px;
    height: 4000px; 
    /* background-color: aquamarine; */
    margin: auto;
}

/* nav */
nav{
    width: 100%;
    height: 90px;
    background-color: var(--navbar-header);
}

/* header */
header{
    width: 100%;
    height: 600px;
    background-color: var(--navbar-header);
    border-top: 1px solid black;
}

/* section */
section{
    width: 100%;
    height: 600px;
    background-color: red;
    border-top: 1px solid black;
}

/* footer */

footer{
    width: 100%;
    height: 550px;
    background-color: var(--colore-backgound-footer)
}